<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="titleContainer">
        <h1>Morris Brown College Marching Wolverine Band</h1>
        <h2>Summer Band Camp</h2>
    </div>


    <div class="selectionContainer">
        <a href="/registerStudents">
            <div class="studentsButton"></div>
        </a>
        <a href="/registerInstructors">
            <div class="instructorsButton"></div>
        </a>
        <a href="/registerDonors">
            <div class="donorsButton"></div>
        </a>
    </div>
</body>

</html>