<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="titleContainer">


        <div class="titleH1">
            <h1>MBC</h1>
        </div>



        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FDU7mOXItI0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <h2>Morris Brown College</h2>


        <div class="bandCampText">
            <h3>Marching Band Camp Registration</h3>
        </div>

    </div>



    <div class="selectionContainer">
        <a href="/registerStudents">
            <div class="studentsButton">
                <h5>STUDENTS</h5>
            </div>
        </a>
        <a href="/registerInstructors">
            <div class="instructorsButton">
                <h5>INSTRUCTORS</h5>
            </div>
        </a>
        <a href="/registerDonors">
            <div class="donorsButton">
                <h5>DONATIONS</h5>
            </div>
        </a>
    </div>

    <div class="mbcLOGO">
        <img src="/public/Images/mbcBand.jpeg">
    </div>

    </div>
</body>

</html>