<h1>Students</h1>

<form action="/registerStudents/?_method=PUT" method="POST">

 <label for="name">Name</label>
 <input type="text" name="name" value="studentName" />

 <label for="name">Instrument</label>
 <input type="text" name="instrument" value="instrumentName" />

 <label for="name">School</label>
 <input type="text" name= "school" value="school"  />
 
 <label for="name">Age</label>
 <input type="number" name= "age" value="age"  />

 <input type="submit" value="register" />
</form>