<h1>Students</h1>

<form action="/registerStudents" method="POST">

 <label for="name">Name</label>
 <input type="text" name="Name" placeholder="studentName" />
<br>
 <label for="name">Instrument</label>
 <input type="text" name="Instrument" placeholder="instrumentName" />
<br>
 <label for="name">School</label>
 <input type="text" name= "School" placeholder="school"  />
 <br>
 <label for="name">Age</label>
 <input type="number" name= "Age" placeholder="age"  />
<br>
 <input type="submit" value="register" />
</form>