<h1>Instructors</h1>

<form action="/registerInstructors" method="POST">

  <label for="name">Name</label>
 <input type="text" name="Name" placeholder="instructorName" />
<br>
 <label for="name">Instrument Family</label>
 <input type="text" name="Instrument" placeholder="InstrumentFamilyName" />
<br>
 <label for="name">Experience</label>
 <input type="number" name= "Years" placeholder="Experience/Years"  />
 <br>
 <input type="submit" value="register" />
</form>